body{
	background-color: #418c19;
}
.backlog{
	color: #ccc91e;
}
.kk{
	color: #09095e;
}
.bb{
	color: #9c0c0c;
}
#wit{
	color: #09095e;
	table-layout: fixed;
	width: 100%;
}
.ee{
	color: #9c0c0c;
}