#grab{
	background-color: #900d0d;
}
#mad{
	color: #0f4c75;
	font-family: "Albert";
	text-decoration: underline wavy #251f44 ;
}
body{
	background-color: #0cbd79;
	margin: 0px;
	padding: 0px;
	font-family: "Avant Garde", "Avantgarde";
}
p {
 	text-align: center;
	 color: #bf3000;
}
#wet{
	color: #1b262c;
}
li{
	display: inline-block;
	color: #fa1616;
	background-image: url('./images/Student.jpg');
	background-position: center left;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left: 33px;
}
a{
	display: inline-block;
}
ol{
	text-align: center;
	background-color: #ffa931;
	margin: 0px;
	padding: 10px;
}
a:hover{
    border: 4px dotted yellow;
}
h1{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	background-color: #e4e3e3;
	padding: 30px 10px;
	margin: 0px;
	box-shadow: 0px 14px #84a9ac;
	z-index: 99;
	text-decoration: underline wavy;
	margin-bottom: 14px;
}
h2{
	background-color: #251f44;
	padding: 15px 15px;
	margin: 0px 0px;
	font-family: "AFRICAN";
	color:#fa7d09; 
	text-decoration: underline wavy #ff4301;
	text-align: center;
}
p{
	font-size: 30px;
	font-family: "Albert";
	color: #6f0000;
}
p:hover{
	color: #120136;
}

#gal{
  margin-top: 10%;
}
img{
	margin-top: 5%;
}
#yet img{
	width: 60%;
	height: 50%;
	border: 3px groove #cf1b1b;
}
#yet{
	text-align: center;
	margin: auto;
}
.dept{
	visibility: hidden;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.dept:target{
	visibility: visible;
	display: block;
}
.dept img{
	width: 90%;
	height: 90%;
	margin: all;
}
.debt{
	visibility: hidden;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.debt:target{
	visibility: visible;
	display: block;
}
.debt img{
	width: 90%;
	height: 90%;
	margin: all;
}
.hop{
	visibility: hidden;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.hop:target{
	visibility: visible;
	display: block;
}
.hop img{
	width: 90%;
	height: 90%;
	margin: all;
}
.full{
	visibility: hidden;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.full:target{
	visibility: visible;
	display: block;
}
.full img{
	width: 90%;
	height: 90%;
	margin: all;
}
.empty{
	visibility: hidden;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.empty:target{
visibility: visible;
	display: block;
}
.empty{
	visibility: hidden;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.sit{
	visibility: hidden;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.sit:target{
	visibility: visible;
	display: block;
}
.sit{
	visibility: hidden;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
